.navbar {
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    z-index: 999999;
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}

.navbar ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0 30px;
    list-style: 0 30px;
    list-style: none;
}

.navbar li {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2 ease;
     letter-spacing: 2px;
     font-family: 'Roboto', sans-serif;
}

navbar li:hover {
    color: #ff2d2d;
    transform: scale(1.05);
}
