.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999999;

    border-bottom: 1px solid rgba(255, 0, 0, 0.2);

    overflow: hidden;

    padding: 0;
}



.navbar ul {
    display: flex;
    gap: 40px;
    margin: 0;
    list-style: 0 30px;
    list-style: none;
}

.navbar li {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2 ease;
     letter-spacing: 2px;
     font-family: 'Roboto', sans-serif;
}

navbar li:hover {
    color: #ff2d2d;
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .navbar {
        padding: 0 10px;
    }

    .navbar ul {
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: 0 30px;
    list-style: none;
}
}


